@import "tailwindcss";
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

:root {
  --color-primary: #0ea5e9; /* Sky Blue */
  --color-accent: #f97316; /* Sunset Orange */
  --color-bg: #f8fafc; /* Slate 50 */
  --color-text: #0f172a; /* Slate 900 */
  --color-text-light: #475569; /* Slate 600 */
}

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
